<div class="button-wrapper">
  <button id="scraper">Scrape!</button>
  <button id="toggleDisplay" data-state="shown">Hide</button>
</div>

{{!-- Generate the list of scraped items if the items exist --}}

{{#if result}}
<div class="container">
  <div class="content-border">
    {{#each result}}
    <div class="content-wrapper">
      <div class="title">
        <h3>
          <a href="{{ url }}" target="_blank">{{ title }}</a>
        </h3>
      </div>
      <div class="brief">
        <p>{{ brief }}</p>
      </div>
      <div class="save-button">
        {{#if saved }}
        <button id="toggleSave" data-state="saved" data-id="{{ _id }}">unsave</button>
        {{else}}
        <button id="toggleSave" data-state="unsaved" data-id="{{ _id }}">save</button>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
<div class="no-saved-articles">
  <span>Scrape to populate this page.</span>
</div>
{{/if}}