{{!-- Generate the list of scraped items if the items exist --}}

{{#if result}}
<div class="container">
  <div class="content-border">
    {{#each result}}
    <div class="content-wrapper">
      <div class="title">
        <h3>
          <a href="{{ url }}" target="_blank">{{ title }}</a>
        </h3>
      </div>
      <div class="brief">
        <p>{{ brief }}</p>
      </div>
      <div class="small-buttons-wrapper">
        <div class="save-button">
          <button id="toggleSave" data-state="saved" data-id="{{ _id }}">unsave</button>
        </div>
        {{#unless note}}
        <div class="note-button">
          <button id="toggleNote" data-id="{{ _id }}" data-state="hidden">Add Note</button>
        </div>
        {{/unless}}
      </div>


      <div class="edit-container" id="{{ _id }}">
        <span>Your name: </span>
        <input type="text" id="noteName" />
        <span>Note: </span>
        <input type="text" id="noteContent" />
        <button id="addNote" data-id="{{ _id }}">Add</button>
      </div>


      {{#if note }}
      <div class="comment-container" id="{{note._id}}" data-ref="{{_id}}">
        Note created by <span>{{note.name}}</span>
        <p>{{note.content}}</p>
        <div class="button-flex">
          <button id="editNote" data-id="{{note._id}}">Edit</button>
          <button id="deleteNote" data-id="{{note._id}}">Delete</button>
        </div>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>
{{else}}
<div class="no-saved-articles">
  <span>Save some articles to populate this page.</span>
</div>
{{/if}}